{% extends 'base.html' %}

{% block content %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="{%  url 'vacancies:vacancies' %}">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="#"><img src="{{ MEDIA_URL }}{{ vacancy.company.logo.url }}" width="130" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
            <p class="m-0 pl-3">{{ vacancy.salary_min}} – {{ vacancy.salary_max}} Р</p>
          </div>
          <p class="mt-2">{% for skill in vacancy.skills %}{{ skill }}{% endfor %}</p>
          <p class="text-muted mb-4">{{ vacancy.company.name }} ({{vacancy.company.employee_count}} человек), {{ vacancy.company.location }}</p>
          <div style="line-height: 1.8;">
            <p>{{ vacancy.description }}
            </p>
          </div>
         {% if user.is_authenticated %}
<form method="POST" class="card mt-4 mb-3">
  <div class="card-body mx-3">
  <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
    {% load crispy_forms_tags %}
    {% crispy form 'bootstrap3' %}
  </div>
</form>
{% else %}
<div>
  Вы можете отправить отклик на вакансию, если <a href='/login'>авторизуетесь</a> на сайте.
   <div class="mt-4 text-center"><p>Нет аккаунта? <a href="/register">Зарегистрируйтесь!</a></p></div>
</div>
{% endif %}
        </section>
      </div>
    </div>
  </main>

{% endblock %}